In [17]:
import pandas as pd
import re
from datetime import datetime, timedelta
pd.set_option('display.max_rows', None)

In [37]:
df = pd.read_csv("data/vpn.log")

In [38]:
df = df.drop(columns=["Node", "Service", "Active", "Proto", "Port", "Error"])
df[["Duration"]] = df[["Duration"]].fillna(value=0)
df['Start Time'] = pd.to_datetime(df['Start Time'])
df["Duration"] = df["Duration"].apply(lambda x: timedelta(0, x))
end_time = df["Start Time"] + df["Duration"]
df.insert(2, "End Time", end_time)
df.drop(df[df["Username"].str.contains("Sara.E|Emma.H|Joan.P|Charlotte.X|Mary.J|Emma.H|Melissa.H|James.V|Russell.A|Doris.X|Denise.P|Kelly.G|Jeffrey.Z|Abigail.F|Lawrence.A|Louis.Z|Martha.W|Andrew.E|Logan.Y|Nicole.Z") == True].index, inplace=True)

/Users/jio/repo/github.com/diohabara/cs6322-f22/nsa-codebreak-challenge2022/.venv/lib/python3.10/site-packages/dateutil/parser/_parser.py:1207: UnknownTimezoneWarning: tzname EDT identified but not understood.  Pass `tzinfos` argument in order to correctly return a timezone-aware datetime.  In a future version, this will raise an exception.
  warnings.warn("tzname {tzname} identified but not understood.  "

In [39]:
df = df.sort_values("Start Time")
df.sort_values("Start Time", ascending=True)

,Username,Start Time,End Time,Duration,Auth,Real Ip,Vpn Ip,Bytes Total
2,Dorothy.D,2022-06-27 08:43:39,2022-06-27 13:46:43,0 days 05:03:04,1,172.22.90.19,10.128.20.43,2.009805e+09
16,Teresa.I,2022-06-27 14:15:53,2022-06-27 16:43:40,0 days 02:27:47,1,172.17.49.228,10.128.20.14,2.098712e+09
17,Dorothy.D,2022-06-27 14:37:00,2022-06-27 16:44:49,0 days 02:07:49,1,172.23.213.98,10.128.20.164,6.129832e+08
19,Brian.A,2022-06-27 15:53:13,2022-06-27 19:50:04,0 days 03:56:51,1,172.24.171.140,10.128.20.213,2.314020e+09
21,Justin.T,2022-06-27 16:24:40,2022-06-27 16:24:40,0 days 00:00:00,0,172.16.177.220,NaN,NaN
30,Dorothy.D,2022-06-28 08:07:09,2022-06-28 14:34:44,0 days 06:27:35,1,172.18.208.99,10.128.20.31,4.910061e+08
32,Teresa.I,2022-06-28 08:48:07,2022-06-28 18:26:58,0 days 09:38:51,1,172.16.1.253,10.128.20.118,6.637302e+09
35,Danielle.F,2022-06-28 09:48:06,2022-06-28 14:03:19,0 days 04:15:13,1,172.20.183.59,10.128.20.208,2.193204e+09
38,Jacqueline.T,2022-06-28 10:36:02,2022-06-28 14:38:21,0 days 04:02:19,1,172.31.38.175,10.128.20.182,3.578891e+09
40,Michael.K,2022-06-28 11:45:36,2022-06-28 15:29:15,0 days 03:43:39,1,172.28.19.39,10.128.20.30,3.642708e+09
43,Brian.A,2022-06-28 12:48:00,2022-06-28 12:48:00,0 days 00:00:00,0,172.16.50.126,NaN,NaN
46,Danielle.F,2022-06-28 14:18:16,2022-06-28 16:00:35,0 days 01:42:19,1,172.29.79.30,10.128.20.74,1.653024e+09
59,Moses.K,2022-06-29 07:36:02,2022-06-29 12:54:49,0 days 05:18:47,1,172.30.122.56,10.128.20.81,1.493666e+09
61,Jacqueline.T,2022-06-29 08:10:29,2022-06-29 10:17:29,0 days 02:07:00,1,172.16.107.141,10.128.20.210,3.262655e+08
62,Michael.K,2022-06-29 08:29:30,2022-06-29 12:16:53,0 days 03:47:23,1,172.23.80.68,10.128.20.2,8.185800e+07
63,Moses.K,2022-06-29 08:45:23,2022-06-29 09:55:22,0 days 01:09:59,1,172.27.26.101,10.128.20.54,8.948237e+08
65,Danielle.F,2022-06-29 09:38:40,2022-06-29 14:59:42,0 days 05:21:02,1,172.31.102.148,10.128.20.164,3.569364e+09
66,Teresa.I,2022-06-29 10:10:09,2022-06-29 12:15:22,0 days 02:05:13,1,172.30.128.13,10.128.20.138,2.028082e+09
70,Dorothy.D,2022-06-29 11:19:07,2022-06-29 11:19:07,0 days 00:00:00,0,172.31.3.235,NaN,NaN
72,Timothy.T,2022-06-29 12:27:08,2022-06-29 12:27:08,0 days 00:00:00,0,172.17.38.148,NaN,NaN
74,Dorothy.D,2022-06-29 13:12:15,2022-06-29 14:25:12,0 days 01:12:57,1,172.27.157.212,10.128.20.115,3.802431e+08
76,Michael.K,2022-06-29 13:34:52,2022-06-29 18:51:11,0 days 05:16:19,1,172.21.147.33,10.128.20.207,1.117237e+09
77,Brian.A,2022-06-29 14:09:10,2022-06-29 16:50:44,0 days 02:41:34,1,172.27.233.69,10.128.20.253,1.720511e+09
78,Alan.R,2022-06-29 14:23:36,2022-06-29 14:23:36,0 days 00:00:00,0,172.23.201.92,NaN,NaN
80,Sophia.R,2022-06-29 15:31:46,2022-06-29 15:31:46,0 days 00:00:00,0,172.27.206.22,NaN,NaN
81,Danielle.F,2022-06-29 15:54:22,2022-06-29 18:53:31,0 days 02:59:09,1,172.24.200.78,10.128.20.146,1.497604e+09
87,Teresa.I,2022-06-29 17:54:35,2022-06-29 18:43:56,0 days 00:49:21,1,172.18.161.43,10.128.20.25,6.326295e+08
91,Jacqueline.T,2022-06-30 07:28:21,2022-06-30 15:45:52,0 days 08:17:31,1,172.23.234.107,10.128.20.97,5.220850e+09
101,Michael.K,2022-06-30 11:52:45,2022-06-30 11:52:45,0 days 00:00:00,0,172.24.169.250,NaN,NaN
104,Brian.A,2022-06-30 13:02:46,2022-06-30 18:41:52,0 days 05:39:06,1,172.17.104.103,10.128.20.125,1.204381e+09
105,Teresa.I,2022-06-30 13:24:35,2022-06-30 19:00:59,0 days 05:36:24,1,172.24.138.96,10.128.20.126,1.584444e+09
107,Dorothy.D,2022-06-30 14:14:06,2022-06-30 17:10:19,0 days 02:56:13,1,172.18.59.174,10.128.20.140,2.267739e+09
117,Jacqueline.T,2022-06-30 18:41:26,2022-06-30 20:17:17,0 days 01:35:51,1,172.21.164.29,10.128.20.67,1.329694e+09
118,Michael.K,2022-07-01 07:08:40,2022-07-01 14:29:24,0 days 07:20:44,1,172.24.1.228,10.128.20.29,3.911358e+09
123,Peter.U,2022-07-01 08:51:46,2022-07-01 08:51:46,0 days 00:00:00,0,172.23.216.20,NaN,NaN
130,Danielle.F,2022-07-01 12:17:09,2022-07-01 12:17:09,0 days 00:00:00,0,172.19.110.137,NaN,NaN
140,Jean.H,2022-07-01 16:28:11,2022-07-01 16:28:11,0 days 00:00:00,0,172.17.254.141,NaN,NaN
141,Danielle.F,2022-07-01 16:44:58,2022-07-01 16:44:58,0 days 00:00:00,0,172.29.178.12,NaN,NaN
142,Teresa.I,2022-07-01 17:00:24,2022-07-01 17:00:24,0 days 00:00:00,0,172.24.84.2,NaN,NaN
144,Dorothy.D,2022-07-01 17:31:29,2022-07-01 17:31:29,0 days 00:00:00,0,172.23.75.3,NaN,NaN
145,Danielle.F,2022-07-01 17:45:28,2022-07-01 19:20:12,0 days 01:34:44,1,172.28.205.164,10.128.20.81,7.114720e+08
147,Jean.F,2022-07-01 18:43:09,2022-07-01 18:43:09,0 days 00:00:00,0,172.24.247.118,NaN,NaN
150,Jacqueline.T,2022-07-02 07:44:03,2022-07-02 08:46:21,0 days 01:02:18,1,172.17.183.89,10.128.20.209,8.660684e+08
152,Brian.A,2022-07-02 09:00:22,2022-07-02 15:21:29,0 days 06:21:07,1,172.24.123.126,10.128.20.164,2.804386e+09
161,Jacqueline.T,2022-07-02 12:46:52,2022-07-02 12:46:52,0 days 00:00:00,0,172.16.243.33,NaN,NaN
163,Michael.K,2022-07-02 13:19:55,2022-07-02 14:04:29,0 days 00:44:34,1,172.17.212.142,10.128.20.171,5.498011e+07
165,Vincent.G,2022-07-02 14:10:17,2022-07-02 14:10:17,0 days 00:00:00,0,172.16.137.29,NaN,NaN
173,Brian.A,2022-07-02 17:19:27,2022-07-02 18:06:55,0 days 00:47:28,1,172.31.14.94,10.128.20.246,2.598601e+08
175,Michael.K,2022-07-02 18:09:05,2022-07-02 19:53:47,0 days 01:44:42,1,172.18.75.206,10.128.20.40,7.637907e+08

In [22]:
df_username = df.groupby(["Username"], axis=0, as_index=True).sum()
df_username["Bytes Total / Auth"] = df_username["Bytes Total"] / df_username["Auth"]
df_username.sort_values("Bytes Total / Auth", ascending=True)

              Auth   Bytes Total  Bytes Total / Auth
Username
Dorothy.D        5  5.761776e+09        1.152355e+09
Moses.K          2  2.388489e+09        1.194245e+09
Michael.K        6  9.571932e+09        1.595322e+09
Brian.A          5  8.303158e+09        1.660632e+09
Danielle.F       5  9.624669e+09        1.924934e+09
Jacqueline.T     5  1.132177e+10        2.264354e+09
Teresa.I         5  1.298117e+10        2.596234e+09
Alan.R           0  0.000000e+00                 NaN
Jean.F           0  0.000000e+00                 NaN
Jean.H           0  0.000000e+00                 NaN
Justin.T         0  0.000000e+00                 NaN
Peter.U          0  0.000000e+00                 NaN
Sophia.R         0  0.000000e+00                 NaN
Timothy.T        0  0.000000e+00                 NaN
Vincent.G        0  0.000000e+00                 NaN

In [31]:
df_username["Bytes Total / Duration"] = df_username['Bytes Total'] / df_username["Duration"]

KeyError: 'Duration'

In [ ]:
df_sum.sort_values("Bytes Total / Duration", ascending=False)

In [7]:
df_mean["Bytes Total / Duration"] = df_mean['Bytes Total'] / df_mean["Duration"]

NameError: name 'df_mean' is not defined

In [8]:
df_mean.sort_values("Bytes Total / Duration", ascending=False)

NameError: name 'df_mean' is not defined